.topbar {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "brand nav user";
  align-items: center;
}

/* ▼▼▼ branding ▼▼▼ */
.brand {
  grid-area: brand;
  padding-left: var(--space-large);
  display: flex;
  flex-direction: column;
}
.topbar img {
  margin: auto 0;
  aspect-ratio: 250/80;
  height: 40px;
  width: 125px;
}
.topbar h1 {
  font-size: var(--font-size-normal);
  font-weight: 700;
  letter-spacing: 0.01rem;
  margin: 0;
}
/* ▲▲▲ branding ▲▲▲ */

/* ▼▼▼ navigation ▼▼▼ */
.desktopNav {
  grid-area: nav;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.desktopNav a {
  height: 100%;
  flex-grow: 1;
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--text-color-alt);
  font-size: var(--font-size-emphasis);
  letter-spacing: 0.01rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.desktopNav a:hover {
  color: var(--primary-color);
}

.desktopNav a.active {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}
/* ▲▲▲ navigation ▲▲▲ */

/* ▼▼▼ user areas ▼▼▼ */
.user {
  grid-area: user;
  padding-right: var(--space-large);
  justify-self: end;
  display: flex;
  align-items: center;
  gap: var(--space-medium);
}
.userName {
  font-size: var(--font-size-emphasis);
  font-weight: 600;
  color: var(--text-color-alt);
  min-width: fit-content;
}
.logoutButton {
  margin: auto 0;
  height: 2rem;
  min-width: fit-content;
}
/* ▲▲▲ user areas ▲▲▲ */

.hamburgerContainer {
  display: none;
}

@media (max-width: 768px) {
  .topbar {
    grid-template-columns: auto auto;
    grid-template-areas: "brand user" "nav nav"; 
                         /* "brand nav  nav"; */
  }
  .brand {
    padding-left: var(--space-medium);
  }
  /* .topbar nav {
    width: minmax(fit-content, calc(fit-content * 1.5));
    justify-content: end;
  } */
  .user {
    padding-right: var(--space-medium);
    justify-content: end;
  }
  .desktopNav,
  .desktopLogout {
    display: none;
  }

  .hamburgerContainer {
    display: inline;
  }
}