.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-large);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--space-xsmall);
}

.columnTitle {
  font-size: var(--font-size-normal);
  font-weight: 600;
  /* color: #333; */
  margin-bottom: var(--space-medium);
}

.row {
  display: flex;
  justify-content: space-between;
}

.value {
  font-weight: 600;
  color: var(--primary-color);
}
