.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
}

.percentage {
  /* edge case element - needs some fixed values */
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color-alt);
  margin-bottom: 0.25rem;
}

.target {
  font-size: var(--font-size-small);
  color: var(--gray);
  margin-bottom: var(--space-xsmall);
}

.name {
  font-weight: 500;
  color: var(--text-color-alt);
}
