.container {
    height: 100%;
    background-color: var(--background-alt);
}

.heading {
    margin: 0;
    padding: var(--space-xsmall);
}

.paragraph {
    border-bottom: 1px solid var(--light-gray);
}

