.pageHeader {
  width: 100%;
  margin-bottom: var(--space-large);
  padding-top: 2rem;
  background-image: linear-gradient(157.68421395683941deg, rgba(72, 196, 60, 0.2) 37.024%, rgba(72, 196, 60, 0.5) 62.976%);
  justify-items: center;
}

.pageHeaderContainer {
  max-width: 1024px;
  width: 100%;
}

.title {
  font-size: var(--font-size-xlarge);
  font-weight: 600;
  color: var(--text-color-alt);
  margin-top: 0;
  margin-bottom: var(--space-xsmall);
}

.value {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color-alt);
  margin-bottom: 0.5rem;
}

.value span {
  font-size: 1rem;
  font-weight: normal;
}

.subtitle {
  color: var(--gray);
  margin: 0;
}
