/* Put global styles and resets here */
:root {
    /* global variables */

    /* sizes */
    --max-width: 1200px;

    /* spacing */
    --gap-large: 2rem;
    --gap-medium: 1rem;
    --gap-small: 0.5rem;

    /* colors */
    --white: #ffffff;
    --off-white: #f4f6f9;
    --light-gray: #f0f0f0;
    --black: #000000;
    --dark-gray: #222222;
    --green: #00a651;

    --primary-color: #00c281;

    --background: var(--off-white);
    --background-alt: var(--light-gray);

    --text-color: var(--black);
    --text-color-alt: var(--dark-gray);
}   
* {
    /* resets */
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;

    background-color: var(--background);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
